.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  flex: 1;
}
.buttonTitle {
  width: 60%;
  height: 80%;
}
.buttonTitleSpan { font-weight: bold; }
.buttonDescriptionCollapse {
  width: 100%;
  height: 0;
  font-size: 20px;
  overflow: hidden;
  transition: height .7s;
}
.button:hover .buttonDescriptionCollapse { height: 25%; }